@{
    ViewData["Title"] = "Add User";
}

<form method="post">
    <label for="Username">Username</label>
    <input type="text" name="Username" value="@ViewBag.Username" />
    <br />

    <label for="Email">Email</label>
    <input type="text" name="Email" value="@ViewBag.Email" />
    <br />

    <label for="Password">Password</label>
    <input type="password" name="Password" />
    <br />

    <label for="Verify">Verify Password</label>
    <input type="password" name="Verify" />

    @if(!string.IsNullOrEmpty(ViewBag.Error))
    {
        <p>@ViewBag.Error</p>
    }

    <br />

    <input type="submit" value="Add User" />
</form>